@import "../../styles/utils/vars";
@import "../../styles/utils/typography.scss";
@import "../../styles/utils/mixins.scss";

.HomePage {
  display: grid;
  min-height: calc(100vh - 100px);
  max-height: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  @include mobile {
    min-height: unset;
  }

  @media (max-height: 801px) {
    min-height: unset;
  }

  &__conteiner {
    position: relative;
    display: grid;
    grid-template-columns: 0.8fr 1.2fr;
    justify-content: space-between;
    gap: 20px;
    @include widthConteiner;
    height: max-content;
    border-radius: 60px;
    @include animation('backgroundAnim 3s infinite alternate');

    @media screen and (max-width: 550px) {
      grid-template-columns: 1fr;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    @include adaptiv-value("margin-top", 170, 40, 0);
    @include adaptiv-value("margin-bottom", 149, 40, 0);
    @include adaptiv-value("margin-left", 95, 20, 0);
    z-index: 3;

    @include iPad {
      width: 100%;
    }
  }

  &__h1 {
    @include h1;
    color: #fff;
  }

  &__subtitle {
    font-family: 'TTFirsNeue';
    @include adaptiv-value("font-size", 24, 16, 0);
    line-height: 116%;
    font-weight: 400;
    color: #fff;
    padding-top: 16px;
  }

  &__animation {
    position: relative;
    display: flex;
    align-self: flex-end;
    justify-content: center;
    box-sizing: border-box;
    height: 100%;
    overflow: hidden;

    @include mobile {
      justify-content: flex-end;
      margin-right: 50px;
    }
  }

  &__backgroundImg {
    @include adaptiv-value("height", 585, 220, 0);
    z-index: 3;
    align-self: flex-end;

    @media screen and (max-width: 550px) {
      display: none;
    }
  }

  &__decoration {
    position: absolute;
    left: 50%;
    border: 0.93px solid rgba(255, 139, 163, 1);
    border-radius: 50%;
    @include animation('decor 2s infinite alternate');
    opacity: 0.93;

    &--1 {
      bottom: 47px;
      @include adaptiv-value("width", 458, 229, 0);
      @include adaptiv-value("height", 458, 229, 0);

      @include mobile {
        display: none;
      }
    }

    &--2 {
      bottom: -56px;
      @include adaptiv-value("width", 665, 332, 0);
      @include adaptiv-value("height", 665, 332, 0);

      @media screen and (max-width: 1023px) {
        display: none;
      }
    }

    &--3 {
      bottom: -150px;
      @include adaptiv-value("width", 852, 426, 0);
      @include adaptiv-value("height", 852, 426, 0);

      @media screen and (max-width: 1279px) {
        display: none;
      }
    }
  }

  &__ellipse {
    position: absolute;

    &::before {
      content: '';
      display: block;
      width: 6.48px;
      height: 6.48px;
      border-radius: 50%;
    }

    &--1 {
      right: 50.3vw;
      top: 22%;

      &::before {
        background-color: rgba(243, 131, 130, 1);
      }
    }

    &--2 {
      right: 48.3vw;
      top: 52.8%;

      &::before {
        background: rgba(243, 127, 140, 1);
      }
    }

    &--3 {
      right: 52.7vw;
      top: 80.9%;

      &::before {
        background: rgba(243, 131, 130, 1);
      }
    }

    &--4 {
      right: 36.1vw;
      top: 27.4%;

      &::before {
        background: rgba(243, 122, 145, 1);
      }
    }

    &--5 {
      right: 18.6vw;
      top: 10.1%;

      &::before {
        background: rgba(243, 120, 155, 1);
      }
    }

    &--6 {
      right: 6.7vw;
      top: 16.3%;

      &::before {
        background: rgba(245, 120, 151, 1);
      }
    }

    &--7 {
      right: 7.4vw;
      top: 64%;

      &::before {
        background: rgba(248, 121, 142, 1);
      }
    }
  }

  &__app {
    position: absolute;
    background-color: #fff;
    border-radius: 50%;

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: block;
      background-color: #fff;
      border-radius: 50%;
      box-shadow: 0px 0px 7.41px 0px rgba(0, 0, 0, 0.12);
      width: 85%;
      height: 85%;
    }

    &::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: block;
      width: 60%;
      height: 60%;
    }

    @include mobile {
      display: none;
    }

    &--1 {
     @include adaptiv-value("width", 77.4, 48.3, 0);
      @include adaptiv-value("height", 77.4, 48.3, 0);
      top: 5%;
      left: 21%;
      @include animation('scaleReduce 2s infinite alternate');

      &::after {
        background: url('../../images/appsIcons/image1.svg') no-repeat center;
        background-size: contain;
        width: 80%;
        height: 80%;
      }
    }

    &--2 {
      @include adaptiv-value("width", 110.4, 69, 0);
      @include adaptiv-value("height", 110.4, 69, 0);
      top: 20%;
      left: 16%;
      @include animation('scaleAdd 2s infinite alternate');

      &::after {
        background: url('../../images/appsIcons/image2.svg') no-repeat center;
        background-size: contain;
      }

      @include iPad {
        display: none;
      }
    }

    &--3 {
      @include adaptiv-value("width", 64.8, 40.5, 0);
      @include adaptiv-value("height", 64.8, 40.5, 0);
      top: 38%;
      left: 8%;
      @include animation('scaleAdd 2s infinite alternate');

      &::after {
        background: url('../../images/appsIcons/image3.svg') no-repeat center;
        background-size: contain;
      }
    }

    &--4 {
      @include adaptiv-value("width", 105.6, 66, 0);
      @include adaptiv-value("height", 105.6, 66, 0);
      top: 45%;
      left: 18%;
      @include animation('scaleReduce 2s infinite alternate');

      &::after {
        background: url('../../images/appsIcons/image4.svg') no-repeat center;
        background-size: contain;
      }

      @include iPad {
        display: none;
      }
    }

    &--5 {
      @include adaptiv-value("width", 112, 70, 0);
      @include adaptiv-value("height", 112, 70, 0);
      top: 64%;
      left: 6%;
      @include animation('scaleAdd 2s infinite alternate');

      &::after {
        background: url('../../images/appsIcons/image5.svg') no-repeat center;
        background-size: contain;
      }
    }

    &--6 {
      @include adaptiv-value("width", 95.4, 59.6, 0);
      @include adaptiv-value("height", 95.4, 59.6, 0);
      top: 12%;
      right: 20%;
      @include animation('scaleAdd 2s infinite alternate');

      &::after {
        background: url('../../images/appsIcons/image6.svg') no-repeat center;
        background-size: contain;
      }
    }

    &--7 {
      @include adaptiv-value("width", 117.6, 73.5, 0);
      @include adaptiv-value("height", 117.6, 73.5, 0);
      top: 30%;
      right: 7%;
      @include animation('scaleReduce 2s infinite alternate');

      &::after {
        background: url('../../images/appsIcons/image7.svg') no-repeat center;
        background-size: contain;
      }

    }

    &--8 {
      @include adaptiv-value("width", 64.8, 40.5, 0);
      @include adaptiv-value("height", 64.8, 40.5, 0);
      top: 34%;
      right: 29%;
      @include animation('scaleAdd 2s infinite alternate');

      &::after {
        background: url('../../images/appsIcons/image8.svg') no-repeat center;
        background-size: contain;
      }

      @include iPad {
        display: none;
      }
    }

    &--9 {
      @include adaptiv-value("width", 94.2, 58.8, 0);
      @include adaptiv-value("height", 94.2, 58.8, 0);
      top: 50%;
      right: 18%;
      @include animation('scaleReduce 2s infinite alternate');
      z-index: 4;

      &::after {
        background: url('../../images/appsIcons/image9.svg') no-repeat center;
        background-size: contain;
      }

      @include iPad {
        display: none;
      }
    }

    &--10 {
      @include adaptiv-value("width", 119.5, 74.7, 0);
      @include adaptiv-value("height", 119.5, 74.7, 0);
      top: 71%;
      right: 7.5%;
      @include animation('scaleAdd 2s infinite alternate');

      &::after {
        background: url('../../images/appsIcons/image10.svg') no-repeat center;
        background-size: contain;
      }
    }
  }

  &__scroll {
    position: absolute;
    left: 95px;
    bottom: 0;
    transform: translateY(50%);
    @include adaptiv-value("width", 113, 95, 0);
    @include adaptiv-value("height", 113, 95, 0);
    background-color: #fff;
    border-radius: 50%;
    font-size: 24px;

    @media screen and (max-width: 550px) {
      left: 70%;
    }

    &::after {
      content: url('../../images/icons/scrollDown.svg');
      position: absolute;
      top: 50%;
      left: 50%;
      width: 83px;
      height: 83px;
      @include animation('rotateAnim 5s infinite alternate');
    }
  }

  &__btn {
    gap: 12px;
    @include button;
    margin-top: 26px;
    background: $dark;
    padding: 22px 50px;

    @include mobile {
      padding: 12px 20px;
    }

    &:hover {
      box-shadow: 1px 4px 16px rgba(17, 26, 69, 0.6);
    }
  }
}
