@import "../../styles/utils/vars";
@import "../../styles/utils/typography.scss";
@import "../../styles/utils/mixins.scss";

.Packages {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 80px 95px;
  background-color: $dark;
  border-radius: 60px;
  margin: 120px 60px 40px;

  @media (max-width: 1349px) and (min-width: 767px) {
    margin: 70px auto 30px;
    @include widthConteiner;
  }

  @include iPad {
    padding: 60px 40px;
  }

  @include mobile {
    margin: 40px 0 30px;
    width: 100%;
    padding: 20px;
  }

  &__title {
    @include h2;
    @include adaptiv-value("font-size", 60, 32, 0);
  }

  &__packages {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    padding-top: 40px;

    @include mobile {
      flex-direction: column;
    }
  }

  &__package {
    position: relative;
    flex-direction: column;
    border-radius: 30px;
    background-color: #fff;
    min-width: 250px;
    padding-bottom: 120px;

    @media (min-width: 1600px) {
      flex: 0 1 calc((100% - 30px * (4 - 1)) / 4);
    }

    @media (max-width: 1599px) {
      flex: 0 1 calc((100% - 30px * (2 - 1)) / 2);
    }

    @include mobile {
      width: 100%;
      padding-bottom: 100px;
    }
  }

  &__package-top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 30px 30px 0 0;
    padding: 10px 20px;
    @include adaptiv-value("height", 110, 90, 0);

    &--business {
      background: rgba(244, 73, 92, 1);
    }

    &--advanced {
      background: rgba(246, 88, 89, 1);
    }

    &--advertising {
      background: rgba(247, 107, 85, 1);
    }

    &--maximum {
      background: rgba(249, 128, 81, 1);
    }
  }

  &__package-name {
    color: #fff;
    @include adaptiv-value("font-size", 26, 18, 0);
    line-height: 129%;
    font-weight: 600;
    text-align: center;
  }

  &__package-whom {
    color: #fff;
    font-size: 16px;
    line-height: 129%;
    font-weight: 500;
    text-align: center;
  }

  &__includes {
    font-size: 18px;
    font-weight: 600;
    line-height: 129%;
    text-align: center;
    padding-top: 20px;
  }

  &__options {
    display: flex;
    flex-direction: column;
    padding: 16px 20px;
    gap: 12px;

    @include mobile {
      padding: 16px 10px;
    }
  }

  &__option {
    position: relative;
    padding-left: 36px;
    font-size: 15px;

    @include mobile {
      padding-left: 30px;
    }

    &::before {
      position: absolute;
      content: url('../../images/icons/check.svg');
      height: 22px;
      width: 22px;
      left: 0;
    }
  }

  &__btn {
    @include button;
    position: absolute;
    bottom: 40px;
    left: 50%;
    padding: 18px 65px;
    background: $orangeGradient;
    transform: translateX(-50%);

    @include mobile {
      bottom: 30px;
      padding: 12px 20px;
    }

    &:hover {
      box-shadow: 1px 4px 16px rgba(255, 119, 87, 0.6);
    }
  }
}
