@import "../../styles/utils/vars";
@import "../../styles/utils/typography.scss";
@import "../../styles/utils/mixins.scss";

.UsefulInfo {
  position: relative;
  display: grid;
  grid-template-columns: 0.9fr 1.1fr;
  gap: 110px;

  &__swiper {
    display: flex;
    flex-direction: column;
    @include adaptiv-value("padding-top", 100, 20, 0);
    // overflow-y: scroll;
    height: 720px;

    // @media (max-width: 1023px) {
    //   width: 100%;
    //   padding-right: 0;
    // }
  }

  // &__block {
  //   display: flex;
  //   flex-direction: column;
  //   position: sticky;
  //   bottom: 0;
  //   background-color: #fff;
  //   height: 100%;
  //   padding-top: 40px;
  //   padding-bottom: 40px;

  //   &--main {
  //     z-index: 4;
  //   }

  //   &--first {
  //     z-index: 3;
  //   }

  //   &--second {
  //     z-index: 2;
  //   }

  //   &--third {
  //     z-index: 1;
  //   }
  // }

  &__subtitle {
    font-family: 'TTFirsNeue500';
    color: rgba(243, 63, 94, 1);
    @include adaptiv-value("font-size", 22, 16, 0);
    font-weight: 500;
    line-height: 129%;
  }

  &__title {
    font-family: 'TTFirsNeueMedium', serif;
    @include adaptiv-value("font-size", 48, 28, 0);
    font-weight: 600;
    line-height: 129%;
    @include adaptiv-value("font-size", 50, 30, 0);
    padding-top: 12px;

    &--main {
      color: #f55b58;
    }

    &--firstBlock {
      color: #f77658;
    }

    &--secondBlock {
      color: #d85bb4;
    }

    &--thirdBlock {
      color: #7b4bd9;
    }
  }

  &__infoBlock {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding-top: 16px;
  }

  &__info {
    color: $dark;
    @include adaptiv-value("font-size", 17, 15, 0);
    line-height: 150%;

    @include mobile {
      line-height: 120%;
    }

    // &--first {
    //   display: -webkit-box;
    //   -webkit-line-clamp: 3;
    //   -webkit-box-orient: vertical;
    //   overflow: hidden;
    // }
  }

  // &__firstBlock {
  //   position: relative;

  //   ::after {
  //     content: '';
  //     position: absolute;
  //     top: 0;
  //     left: 0;
  //     bottom: 0;
  //     right: 0;
  //     background: -webkit-linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.6) 100%);
  //   }
  // }

  &__images {
    position: relative;
    height: 720px;
    width: 100%;
    border-radius: 50px;

    // @media (max-width: 1023px) {
    //   display: none;
    // }
  }

  &__img {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    height: 100%;
    width: 100%;
    transition: all 0.3s ease;

    &--active {
      opacity: 1;
    }

    &--1 {
      background: url(../../images/usefulInfo/01.png) no-repeat center;
      background-size: contain;
    }

    &--2 {
      background: url(../../images/usefulInfo/02.png) no-repeat center;
      background-size: contain;
    }

    &--3 {
      background: url(../../images/usefulInfo/03.png) no-repeat center;
      background-size: contain;
    }

    &--4 {
      background: url(../../images/usefulInfo/04.png) no-repeat center;
      background-size: contain;
    }
  }
}

// .UsefulInfo__content::-webkit-scrollbar {
//   display: none;
// }
