@import "../../styles/utils/vars";
@import "../../styles/utils/typography.scss";
@import "../../styles/utils/mixins.scss";

.Technology {
  display: grid;
  grid-template-columns: 0.9fr 1.1fr;
  @include adaptiv-value("gap", 100, 30, 0);

  @include iPad {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: 0;
  }

  @include mobile {
    display: flex;
    flex-direction: column-reverse;
    gap: 30px;
  }

  &__images {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    @include adaptiv-value("gap", 22, 18, 0);
    height: 525px;
    width: 460px;

    @include iPad {
      margin: 0 auto;
      align-self: center;
      height: 500px;
    }

    @include mobile {
      display: none;
    }
  }

  &__img {
    z-index: 1;
    position: relative;

    &--1 {
      background: url('../../images/technology/1.png') no-repeat center;
      background-size: contain;
      // height: 134px;
      // width: 193px;
      @include adaptiv-value("height", 134, 84, 0);
      @include adaptiv-value("width", 193, 120, 0);
      border-radius: 24px;
      align-self: flex-end;

      &::after {
        content: url(../../images/technology/5.png);
        position: absolute;
        bottom: -5px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 2;
      }
    }

    &--2 {
      background: url('../../images/technology/4.png') no-repeat center;
      background-size: contain;
      @include adaptiv-value("height", 192, 120, 0);
      @include adaptiv-value("width", 223, 139, 0);
      // height: 192px;
      // width: 223px;
      border-radius: 30px;

      &::before {
        content: url('../../images/technology/7.png');
        display: block;
        position: absolute;
        top: -23px;
        left: -21px;
        @include adaptiv-value("width", 119, 74, 0);
        @include adaptiv-value("height", 71, 44, 0);
      }
    }

    &--3 {
      background: url('../../images/technology/2.png') no-repeat center;
      background-size: contain;
      @include adaptiv-value("height", 338, 211, 0);
      @include adaptiv-value("width", 314, 196, 0);
      border-radius: 30px;

      &::before {
        content: url('../../images/technology/6.png');
        display: block;
        position: absolute;
        bottom: -42px;
        right: -45px;
        z-index: -1;
      }
    }

    &--4 {
      background: url('../../images/technology/3.png') no-repeat center;
      background-size: contain;
      @include adaptiv-value("height", 155, 97, 0);
      @include adaptiv-value("width", 223, 139, 0);
      border-radius: 30px;
      align-self: flex-start;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    padding-top: 50px;

    // @include iPad {
    //   width: 100%;
    // }
  }

  &__title {
    @include h2;

    &:not(&:last-child) {
      padding-bottom: 16px;
    }
  }

  &__infoBlock {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__subtitle {
    font-family: 'TTFirsNeue500';
    font-size: 20px;
    line-height: 150%;
  }

  &__info {
    font-size: 17px;
    line-height: 150%;
  }
}
