@import "../../styles/utils/vars";
@import "../../styles/utils/typography.scss";
@import "../../styles/utils/mixins.scss";

.TermsOfService {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  overflow: hidden;

  &__content {
    display: flex;
    flex-direction: column;
    @include adaptiv-value("padding-top", 139, 20, 0);
    gap: 16px;
  }

  &__title {
    @include h2;
    @include adaptiv-value("font-size", 50, 30, 0);
    padding-top: 12px;
  }

  &__info {
    color: $dark;
    @include adaptiv-value("font-size", 17, 15, 0);
    line-height: 150%;

    @include mobile {
      line-height: 120%;
    }
  }
}
